@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_SuperAdminLayout.cshtml";
}

@model List<SiteManagerDetailsVM>

<link href="~/assets/css/cardStyle.css" rel="stylesheet" />


<div class="container">
    <partial name="_NotificationPartial" />
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 d-flex">
                <div class="card md-2 cb1 text-center">
                    <div class="card-body">
                        <h2 class="card-title mb-4">
                            <i class="ti ti-user"></i>
                            @item.FirstName
                            @if (!string.IsNullOrEmpty(item.SecondName))
                            {
                                @item.SecondName
                            }
                        </h2>
                        <h2 class="card-title mb-4">
                            @item.LastName
                            @if (!string.IsNullOrEmpty(item.SecondLastName))
                            {
                                @item.SecondLastName
                            }
                        </h2>
                        <p class="card-text"><i class="ti ti-phone"></i>@item.PhoneNumber</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
