@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_SuperAdminLayout.cshtml";
}

@model List<SiteManagerDetailsVM>

<link href="~/assets/css/cardStyle.css" rel="stylesheet" />


<div class="container">
    <partial name="_NotificationPartial" />
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 d-flex">
                <div class="card md-2 cb1 text-center">
                    <div class="card-body">
                        <h2 class="card-title mb-4">
                            @item.FirstName
                            @if (!string.IsNullOrEmpty(item.SecondName))
                            {
                                @item.SecondName
                            }
                        </h2>
                        <h2 class="card-title mb-4">
                            @item.LastName
                            @if (!string.IsNullOrEmpty(item.SecondLastName))
                            {
                                @item.SecondLastName
                            }
                        </h2>

                        <p class="card-text">@item.PhoneNumber</p>
                        @*<a href="#" class="btn btn-outline-light">Go somewhere</a>*@
                    </div>
                </div>

            </div>
        }
    </div>
</div>
