@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_SuperAdminLayout.cshtml";
}

@model List<SiteManagerDetailsVM>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-primary text-center fs-8">Site Yöneticileri</h5>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <table class="table text-nowrap mb-0 align-middle">
                                        <tbody>
                                            <tr>
                                                <td class="fw-semibold">Adı</td>
                                                <td class="fw-normal">@item.FirstName</td>
                                            </tr>
                                            @if (!string.IsNullOrEmpty(item.SecondName))
                                            {
                                                <tr>
                                                    <td class="fw-semibold">İkinci Adı</td>
                                                    <td class="fw-normal">@item.SecondName</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="fw-semibold">Soyadı</td>
                                                <td class="fw-normal">@item.LastName</td>
                                            </tr>
                                            @if (!string.IsNullOrEmpty(item.SecondLastName))
                                            {
                                                <tr>
                                                    <td class="fw-semibold">İkinci Soyadı</td>
                                                    <td class="fw-normal">@item.SecondLastName</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="fw-semibold">Telefon</td>
                                                <td class="fw-normal">@item.PhoneNumber</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>