

@{
    ViewData["Title"] = "ListTakeDayOff";
    Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>ListOffDays</h1>

@model List<ListOffDayVM>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">İzinlerim</h5>
                <div class="row">

                    @foreach (var offDays in Model)
                    {
                        <div class="col-md-4">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">İzin Türü:@offDays.DayOffType</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Başlangıç Tarihi: @offDays.DayOffStartTime</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Bitiş Tarihi: @offDays.DayOffStartTime</h6>

                                    <p class="card-text">
                                        <strong>Onay Durumu: @offDays.ApprovalType</strong><br />
                                        <strong>İstek Zamanı: @offDays.RequestTime</strong><br />
                                        <strong>İstek Onay Zamanı: @offDays.ResponseTime</strong><br />
                                        <strong>Onaylanan İzin Süresi: @offDays.RequestOffDayNumber</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


