@using IKProjesi.UI.Models.VMs.Pagination
@{
    ViewData["Title"] = "CompanyIndex";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";

    PaginationParams pager = new PaginationParams();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@model List<CompanyListVM>



@*<h1>Company List</h1>

<div class="container">
    @for (var i = 0; i < Model.Count; i += 3)
    {
        <div class="row">
            @foreach (var company in Model.Skip(i).Take(3))
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="../assets/images/products/s4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@company.CompanyName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@company.CompanyTitle</h6>
                            <p class="card-text">
                                <strong>Email:</strong> @company.Email<br>
                                <strong>Phone Number:</strong> @company.PhoneNumber
                            </p>
                            <a asp-area="SiteManager" asp-controller="SiteManager" asp-action="CompanyDetails" asp-route-id="@company.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>*@


<div class="container">
        <div class="row">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center">Şirketler</h5>
                @for (var i = 0; i < Model.Count; i += 3)
                {
                    <div class="row">
                        @foreach (var company in Model.Skip(i).Take(3))
                        {
                            <div class="col-md-4 d-flex">
                                <div class="card md-2 cb1 text-center">
                                    <img src="data:image;base64,@(Convert.ToBase64String(company.LogoBytes))" class="img-fluid" alt="Company Logo">
                                    <div class="card-body">
                                        <h5 class="card-title">@company.CompanyName</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@company.CompanyTitle</h6>
                                        <p class="card-text">
                                            <strong>E-Posta:</strong> @company.Email<br>
                                            <strong>Telefon:</strong> @company.PhoneNumber
                                        </p>
                                        <a asp-area="SiteManager" asp-controller="SiteManager" asp-action="CompanyDetails" asp-route-id="@company.Id" class="btn btn-danger rounded-3 fw-semibold">Şirket Detayı</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
</div>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="SiteManager" asp-action="CompanyIndex" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="SiteManager" asp-action="CompanyIndex" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="SiteManager" asp-action="CompanyIndex" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="SiteManager" asp-action="CompanyIndex" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="SiteManager" asp-action="CompanyIndex" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>