@model IKProjesi.UI.Models.VMs.CompanyVMs.CompanyDetailsVM

@{
    ViewData["Title"] = "CompanyDetails";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";
}

<h1>CompanyDetails</h1>



<div>
    <h4>CompanyDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MersisNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MersisNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyTaxNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyTaxNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyTaxOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyTaxOffice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogoPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartContractDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartContractDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndContractDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndContractDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="SiteManager" asp-action="CompanyIndex">Back to List</a>
</div>
