@{
    ViewData["Title"] = "CompanyIndex";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";

}

@model List<CompanyListVM>



@*<h1>Company List</h1>

<div class="container">
    @for (var i = 0; i < Model.Count; i += 3)
    {
        <div class="row">
            @foreach (var company in Model.Skip(i).Take(3))
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="../assets/images/products/s4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@company.CompanyName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@company.CompanyTitle</h6>
                            <p class="card-text">
                                <strong>Email:</strong> @company.Email<br>
                                <strong>Phone Number:</strong> @company.PhoneNumber
                            </p>
                            <a asp-area="SiteManager" asp-controller="SiteManager" asp-action="CompanyDetails" asp-route-id="@company.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>*@


<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center">Şirketler</h5>
                @for (var i = 0; i < Model.Count; i += 3)
                {
                    <div class="row">
                        @foreach (var company in Model.Skip(i).Take(3))
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="data:image;base64,@(Convert.ToBase64String(company.LogoBytes))" class="img-fluid" alt="Company Logo">
                                    <div class="card-body">
                                        <h5 class="card-title">@company.CompanyName</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@company.CompanyTitle</h6>
                                        <p class="card-text">
                                            <strong>E-Posta:</strong> @company.Email<br>
                                            <strong>Telefon:</strong> @company.PhoneNumber
                                        </p>
                                        <a asp-area="SiteManager" asp-controller="SiteManager" asp-action="CompanyDetails" asp-route-id="@company.Id" class="btn btn-primary">Şirket Detayı</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

