
@{
    ViewData["Title"] = "CreateCompanyManager";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";
}

@model CompanyManagerCompanyVM

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">Şirket Yöneticisi Oluştur</h5>
                <div class="row">

                    <form asp-area="SiteManager" asp-controller="SiteManager" asp-action="CreateCompanyManager" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.FirstName" class="control-label">Adı</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.FirstName" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.FirstName" class="text-danger"></span>
                            

                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.SecondName" class="control-label">İkinci Adı</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.SecondName" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.SecondName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.LastName" class="control-label">Soyadı</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.LastName" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.SecondLastName" class="control-label">İkinci Soyadı</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.SecondLastName" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.SecondLastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.BirthDate" class="control-label">Doğum Tarihi</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.BirthDate" type="date" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.BirthPlace" class="control-label">Doğum Yeri</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.BirthPlace" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.BirthPlace" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.StartDateOfWork" class="control-label">İşe Başlangıç Tarihi</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.StartDateOfWork" type="date" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.StartDateOfWork" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.IdentityNumber" class="control-label">TC Kimlik No</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.IdentityNumber" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.IdentityNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.Address" class="control-label">Adres</label>
                            <textarea asp-for="@Model.CreateCompanyManagerVM.Address" class="form-control"></textarea>
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.Address" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.PhoneNumber" class="control-label">Telefon Numarası</label>
                            <input asp-for="@Model.CreateCompanyManagerVM.PhoneNumber" class="form-control" />
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.CompanyId" class="control-label">Şirketler</label>
                            <select id="CompanyId" name="CompanyId" class="form-select">
                                <option value="Seçiniz"></option>
                                @foreach (var company in Model.Companies)
                                {
                                    <option value="@company.Id">@company.CompanyName</option>
                                }
                            </select>
                            <span asp-validation-for="Companies" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="@Model.CreateCompanyManagerVM.Image" class="control-label"></label>
                            <div>
                                <input asp-for="@Model.CreateCompanyManagerVM.Image" type="file" class="form-control" id="inputGroupFile02" />
                                <label class="custom-file-label" for="customFile">Dosya Seçiniz</label>
                            </div>
                            <span asp-validation-for="@Model.CreateCompanyManagerVM.Image" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">

                            <input type="submit" class="btn btn-danger rounded-3 fw-semibold" value="Kaydet" />

                        </div>
                        <div class="mb-3 form-group">

                            <a asp-action="CompanyManagerList" class="btn btn-danger rounded-3 fw-semibold ">Listeye dön</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>




@*<div class="mb-3 form-group">
        <label asp-for="CompanyName" class="control-label">Şirket Seçimi</label>
        <select asp-for="CompanyName" class="form-select">
            <option value="">Şirket Seçiniz</option>
            @foreach (var company in ViewBag.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>*@

@*<div class="mb-3 form-group">
        <label asp-for="DepartmentName" class="control-label">Departman</label>
        <select asp-for="DepartmentName" class="form-select">
            <option value="">Seçiniz</option>
            @foreach (var department in Enum.GetValues(typeof(Department)))
            {
                <option value="@department">@department</option>
            }
        </select>
    </div>*@