@model SiteManagerUpdateVM

@{
    ViewData["Title"] = "GetSiteManagerUpdate";
    Layout = "~/Areas/SiteManager/Views/Shared/_SiteManagerLayout.cshtml";
}



<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">Şirket Yöneticisi Güncelle</h5>
                <form asp-controller="SiteManager" asp-action="GetSiteManagerUpdate" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="@Model.Id" />

                    <div class="mb-3 form-group">
                        <label asp-for="@Model.Address" class="control-label">Adres</label>
                        <input asp-for="@Model.Address" class="form-control" />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="@Model.PhoneNumber" class="control-label">Telefon Numarası</label>
                        <input asp-for="@Model.PhoneNumber" class="form-control" />
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="@Model.Image" class="control-label">Fotoğraf</label>
                        <div>
                            <input asp-for="@Model.Image" type="file" class="form-control" id="inputGroupFile02" name="Image" />
                        </div>
                        <span asp-validation-for="@Model.Image" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <input type="submit" value="Kaydet" class="btn btn-danger rounded-3 fw-semibold" />
                    </div>
                    <div class=" mb-3 form-group">
                        <div>
                            <a asp-action="Index" class="btn btn-danger rounded-3 fw-semibold ">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
