@using IKProjesi.UI.Extensions
@model IKProjesi.UI.Models.VMs.EmployeeVMs.CreateEmployeeVM

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";

}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body"> 
                <h5 class="card-title fw-semibold mb-4 text-center text-primary">Personel Oluştur</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-area="CompanyManager" asp-controller="CompanyManager" asp-action="CreateEmployee" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="@Model.CompanyManagerId"/>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.IdentityNumber" class="control-label">T.C. Kimlik Numarası</label>
                            <input asp-for="@Model.IdentityNumber" class="form-control" />
                            <span asp-validation-for="@Model.IdentityNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.FirstName" class="control-label">Adı</label>
                            <input asp-for="@Model.FirstName" class="form-control" />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.SecondName" class="control-label">İkinci Adı</label>
                            <input asp-for="@Model.SecondName" class="form-control" />
                            <span asp-validation-for="@Model.SecondName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.LastName" class="control-label">Soyadı</label>
                            <input asp-for="@Model.LastName" class="form-control" />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.SecondLastName" class="control-label">İkinci Soyadı</label>
                            <input asp-for="@Model.SecondLastName" class="form-control" />
                            <span asp-validation-for="@Model.SecondLastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.PersonalEmail" class="control-label">Email</label>
                            <input asp-for="@Model.PersonalEmail" class="form-control" />
                            <span asp-validation-for="@Model.PersonalEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.Address" class="control-label">Adres</label>
                            <input asp-for="@Model.Address" class="form-control" />
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.PhoneNumber" class="control-label">Telefon Numarası</label>
                            <input asp-for="@Model.PhoneNumber" class="form-control" />
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.BirthDate" class="control-label">Doğum Tarihi</label>
                            <input asp-for="@Model.BirthDate" type="date" class="form-control" />
                            <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.BirthPlace" class="control-label">Doğum Yeri</label>
                            <input asp-for="@Model.BirthPlace" class="form-control" />
                            <span asp-validation-for="@Model.BirthPlace" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.StartDateOfWork" class="control-label">İşe Başlama Tarihi</label>
                            <input asp-for="@Model.StartDateOfWork" type="date" class="form-control" />
                            <span asp-validation-for="@Model.StartDateOfWork" class="text-danger"></span>
                        </div>
                    <div class="mb-3 form-group">
                        <label asp-for="@Model.DepartmentName" class="control-label">Departman</label>
                        <select id="DepartmentName" name="DepartmentName" class="form-select">
                            <option value="">Seçiniz</option>
                            @foreach (var department in ViewBag.Department)
                            {
                                <option value="@department">@EnumExtensions.GetDisplayName(department)</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.DepartmentName" class="text-danger"></span>
                    </div>
                        <div class="mb-3 form-group">
                            <label asp-for="@Model.Payment" class="control-label">Maaşı</label>
                            <input asp-for="@Model.Payment" class="form-control" />
                            <span asp-validation-for="@Model.Payment" class="text-danger"></span>
                        </div>
                    <div>
                        <input asp-for="@Model.Image" type="file" class="form-control" id="inputGroupFile02" />
                        <label class="custom-file-label" for="customFile">Dosya Seçiniz</label>
                    </div>
                    <span asp-validation-for="@Model.Image" class="text-danger"></span>
                        <div class="mb-3 form-group">
                            <div>
                                <input type="submit" class="btn btn-danger rounded-3 fw-semibold" value="Kaydet" />
                            </div>
                        </div>
                        <div class=" mb-3 form-group">
                            <div>
                                <a asp-controller="CompanyManager" asp-action="GetCompanyManagerSummary" class="btn btn-danger rounded-3 fw-semibold ">Geri Dön</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



